[Unit]
Description=Example systemd service.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /opt/sleep-man/log-last-arp.sh
StandardOutput=null

[Install]
WantedBy=multi-user.target
